<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="CommonLayout" value="[${date:format=MM-dd HH\:mm\:ss.ffff}][${uppercase:${level}}][${logger:shortName=true}.${callsite:className=False:methodName=True}] ${message}${onexception: ${newline}${exception:format=tostring}}"/>
	<variable name ="logDir" value="/var/log/NoSqlDBUtil" />
	<targets>
		<target name="logconsole"  xsi:type="Console"
				layout="${CommonLayout}"/>
		<target xsi:type="File" name="writeToFile"
				layout="${CommonLayout}"
				fileName="${logDir}/log-${shortdate}.log" 
				encoding="utf-8" 
				maxArchiveFiles="1" 
				maxArchiveDays="1"
				archiveNumbering="Sequence" 
				archiveAboveSize="10485760" 
				archiveFileName="${logDir}/log-${shortdate}.{#}.log"
				archiveEvery="day"
				/>

	</targets>

	<rules>
		<!-- about loglevel see https://github.com/NLog/NLog/wiki/Tutorial-->
		<logger name="*" minlevel="Info" maxlevel="Error" writeTo="logconsole" />
		<!--<logger name="*" minlevel="Info" maxLevel="Error" writeTo="writeToFile"/>-->
	</rules>
</nlog>
